body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
}

$theme-colors: (
  "primary":    #3d5226,
  "secondary": #adb5bd,
  "danger": #dc3545 
);

@import '~bootstrap/scss/bootstrap.scss';
